[class*=sidebar-dark-] {
    background-color: #f4f4f4;
}
[class*=sidebar-dark] .brand-link {
    border-bottom: 1px solid #ffffff;
}
[class*=sidebar-dark] .user-panel {
    border-bottom: 1px solid #ffffff;
}
[class*=sidebar-dark] .brand-link, [class*=sidebar-dark] .brand-link .pushmenu {
    color: #343a40;
}
[class*=sidebar-dark] .brand-link .pushmenu:hover, [class*=sidebar-dark] .brand-link:hover {
    color: #343a40;
    opacity: 90%;
}
[class*=sidebar-dark-] .sidebar a {
    color: #343a40;
}
[class*=sidebar-dark-] .sidebar a:focus, [class*=sidebar-dark-] .sidebar a:hover {
    color: #343a40;
    opacity: 90%;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link {
    color: #343a40;
}
[class*=sidebar-dark-] .nav-sidebar>.nav-item.menu-open>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item:hover>.nav-link, [class*=sidebar-dark-] .nav-sidebar>.nav-item>.nav-link:focus {
    color: #343a40;
    opacity: 90%;
    background-color: rgb(255 255 255 / 50%);
}
[class*=sidebar-dark] .btn-sidebar, [class*=sidebar-dark] .form-control-sidebar {
    background-color: #ffffff;
    border: 1px solid #d8d8d8;
    color: #343a40;
}
[class*=sidebar-dark] .btn-sidebar:hover {
    background-color: #e3e3e3;
}

.jax-submit {
    width: 100%;
}

.navbar-nav-left {
    width: 85%;
}
.navbar-nav-left .b-search{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
}
.navbar-nav-right {
    width: 15%;
}

/*.b-search */
.b-search__field {
    position: relative;
    width: 100%;
    margin: 0 7px 0 0;
}

.b-search__field__tags-container {
    position: relative;
    width: 100%;
    height: 42px;
    /*height: 84px;*/

    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;

    color: #111;
    background-color: #f5f5f5;
    box-shadow: inset 1px 1px 2px rgb(0 0 0 / 8%);
    border: none;
}
.b-search__field__tags-container__tags {
    display: flex;
    flex-flow: row wrap;
    height: inherit;
    /*margin: 8px 8px 8px 0;*/
    padding: 6px 8px 0 0;
    width: 100%;
}
.b-search__field__tags-container__tags .tag {
    float: left;
    background: #1269D3;
    display: inline-block;
    color: #fff;
    margin: 0 0 0 8px;
    padding: 4px 10px 3px;
    border-radius: 4px;
    font-size: 0.875rem;
    position: relative;
    height: 30px;
}
/*.b-search__field__tags-container__tags .tag:last-child {*/
/*    margin-right: 0;*/
/*}*/
.b-search__field__tags-container__tags .tag .close {
    color: #fff;
    display: inline;
    float: none;
    cursor: pointer;
    position: relative;
    margin-left: 7px;
    top: -2px;
    opacity: 0.6;
    font-size: 0.625rem;
}

.b-search__input {
    display: inline-block;
    margin: -5px 0px 0px 0px;
    height: 38px;
    width: 100%;
    background-color: #f5f5f5;
    /*width: 200px;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*left: 154px;*/
    /*width: calc(100% - 154px);*/
}
.b-search__input input {
    width: 100%;
    background-color: #f5f5f5;
    /*box-shadow: inset -2px 1px 3px rgb(0 0 0 / 8%);*/
    border: none;
    padding: 3px 10px;
    margin: 2px;
    height: 38px;
}
.b-search__input input:focus {
    background-color: #f5f5f5;
    border: none;
    /*box-shadow: inset -2px 1px 3px rgb(0 0 0 / 8%);*/
}

.b-search__results {
    position: absolute;
    z-index: 999;
    background: #f4f4f4;
    width: 100%;
    cursor: pointer;
    padding: 0;
}
.b-search__results li {
    width: 100%;
    list-style-type: none;
    padding: 5px 15px 5px 15px;
    background: #f4f4f4;
}
.b-search__results li:hover {
    background: #ffffff;
}

.b-search__button {
    width: 90px;
}

.content-wrapper {
    background: #ffffff !important;
}


.upload-image-section {
    position: relative;
    height: calc(100% - 53px);
    margin: 0 0 15px;
}
.upload-image-section section{
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 300px;
    color: #40444f;
    border: 2px dashed #616778;
    border-radius: 5px;
    cursor: pointer;
    -webkit-transition: color 0.2s ease-out, border-color 0.2s ease-out;
    -moz-transition: color 0.2s ease-out, border-color 0.2s ease-out;
    transition: color 0.2s ease-out, border-color 0.2s ease-out;
    overflow: hidden;
    padding: 15px;
    box-sizing: border-box;
}

.upload-image-section section:hover, .upload-image-section section.dd {
    border-color: #4d90ff;
    color: #4d90ff;
    background-color: #f4f4f4;
}

/* после перетаскивания файлов */
.upload-image-section section.active {
    padding: 0 5px 15px 15px;
    overflow: overlay;
}
.upload-image-section section.active .title{
    display: none;
}
.upload-image-section section.active .images{
    width: 100%;
    padding: 15px 0 0 0;
}

.upload-image-section .error-block {
    display: none;
    position: absolute;
    top: 0;
}
.upload-image-section .error-block.active {
    display: block;
    width: 100%;
}
.upload-image-section .error-block i {
    float: left;
    font-size: 18px;
    line-height: 25px;
}
.upload-image-section .error-block p {
    text-align: left;
    font-weight: normal;
    margin-bottom: 5px;
}


.upload-image-section figure {
position: relative;
width: 100%;
height: auto;
left: 0;
display: block;
margin: 0;
}

.upload-image-section .title {
display: flex;
flex-flow: column;
height: 100%;
justify-content: center;
}

.upload-image-section figure:after {
position: relative;
display: block;
content: '';
height: 80px;
width: 80px;
top: 0;
left: 50%;
margin-left: -40px;
background-repeat: no-repeat;
background-size: 80px 80px;
background-image: url(http://sorting.local/images/upload_icon.png);
-webkit-transition: opacity 0.2s ease-out, border-color 0.2s ease-out;
-moz-transition: opacity 0.2s ease-out, border-color 0.2s ease-out;
transition: opacity 0.2s ease-out, border-color 0.2s ease-out;
}

.upload-image-section section:hover figure:after, .upload-image-section section.dd figure:after {
opacity: .65;
}

.upload-image-section p {
text-align: center;
font-weight: bold;
font-size: 16px;
line-height: 24px;
margin-bottom: 5px;
}

.upload-image-section p small {
font-weight: normal;
font-size: 12px;
opacity: .7;
margin: 15px 0 0;
}

.upload-image-section [type="file"] {
position: absolute;
top: -16rem;
opacity: 0;
}

.upload-image-section .error {
width: 380px;
margin: 0 auto 20px;
line-height: 20px;
font-size: 14px;
color: red;
font-style: italic;
display: none;
text-align: center;
}

/* Прогресс-бар */
.upload-image-section .progress {
    height: 20px;
    width: 380px;
    margin: 0 auto 20px;
    overflow: hidden;
    background-color: #999;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    position: relative;
    display: none;
}

.upload-image-section .progress-bar {
    height: 100%;
    font-size: 12px;
    float: left;
    width: 0;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.upload-image-section .progress-value {
    position: absolute;
    left: 0;
    top: 0;
    line-height: 20px;
    height: 100%;
    width: 100%;
    color: #fff;
    text-align: center;
}

/* Контейнер с загруженными картинками */
.upload-image-section .images {
    width: 380px;
    overflow: hidden;
    margin: 0 auto;
}

.upload-image-section .images .image {
    width: 116px;
    height: 116px;
    margin: 0 10px 10px 0;
    float: left;
    display: block;
    box-sizing: border-box;
    padding: 4px;
    border: 1px solid #d2d2d2;
    position: relative;
}

.upload-image-section .images .image:hover {
    border-color: #428bcb;
}

.upload-image-section .images span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.upload-image-section .images i {
    position: absolute;
    top: -7px;
    z-index: 99999999999;
    right: -8px;
    width: 15px;
    height: 15px;
    color: #a0a0a0;
}
.upload-image-section .images i:before {
    background: white;
}

.b-popup-black {
    display: none;
}
.b-popup-black:before {
    content: '';
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    z-index: 9999;
}
.b-popup-1 {
    position: fixed;
    top: calc((100% - 500px) / 2);
    left: 50%;
    width: 687px;
    height: 500px;
    margin-left: -300px;
    background: #fff;
    border-radius: 4px;
    z-index: 99999;
    opacity: 1;
}

.b-popup-1.maximize-popup{
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    margin-left: 0;
    z-index: 99999;
}

.b-popup-1.maximize-popup .card-body {
    padding: 15px 30px 15px 15px;
}

.b-popup-1.collapse {
    top: 0;
    left: 0;
    width: 100%;
    margin-left: 0;
    height: 100%;
}

.b-popup-black.active {
    display: block;
}

.b-popup-1 .card-body {
    padding: 15px;
}

.b-popup-1 .card-body form{
    height: 100%;
    text-align: right;
}

.b-upload-images .images {
    width: 100%;
    height: 300px;
    border: 1px solid #000000;
    margin: 0 0 20px;
    padding: 15px;
}

.b-upload-images .images .image{
    height: 120px;
    display: inline-block;
    margin: 0 15px 15px;
}
.b-upload-images .images .image img{
    width: 100%;
}

.b-list-of-posts {
    width: calc(100% - 10px);
    margin: 0 0 0 5px;
}
.b-cards {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}
.b-card {
    width: calc((100% - 60px) / 4);
    margin: 0 20px 20px 0;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: 0px 2px 8px rgb(0 0 0 / 12%);
}
.b-card:nth-child(4n) {
    margin: 0 0 20px 0;
}

.b-card__content {
    position: relative;
}

.b-card__user-options {
    position: absolute;
    right: 0;
}
.b-card__user-options .button{
    width: 35px;
    height: 35px;
    background: #ffffff;
    display: block;
    text-align: center;
    padding: 5px 0 0;
    border-radius: 50%;
    margin: 10px 12px;
    color: #5f5f5f;
    opacity: 90%;
}

.b-card__content__image img{
    width: 100%;
}

.b-card__content__text {
    margin: 15px;
}

.b-card__content__text .title {
    font-size: 16px;
    color: #000000;
    margin: 0 0 5px;
    display: inline-block;
}
.b-card__content__text .title:hover{
    color: #6b6b6b;
}
.b-card__content__text p{
    font-size: 15px;
}

.b-card__footer {
    margin: 0 15px 0;
}

.b-card__footer .btn {
    height: 40px;
    min-width: 60px;
    padding: 8px 5px;
    margin: 0;
}

.tags {
    margin: 0 0 5px;
    padding: 0;
}
.tags li {
    display: inline-block;
    position: relative;
    background: #eaeaea; /* #6c757d */
    margin: 0 5px 10px 0;
    border-radius: 2px;
    transition: .1s;
    color: #111;
    padding: 4px 10px;
    font-size: 13px;
    cursor: pointer;
}
.tags li:hover {
    background: #f4f4f4; /*background: #545b62; */
}
.tags li a {
    color: #2a2c2e;
}
.tags li a:hover {
    color: #343a40;
}
.tags li i {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #ffffff;
    border-radius: 50%;
}

.b-add-tag{

}
.b-add-tag .add-tag {
    width: 250px;
    margin: 0 0 15px;
}

.found-hashtags li {
    position: relative;
    background: #caf3e5;
    display: inline-block;
    color: #111;
    padding: 4px 10px;
    font-size: 13px;
    border-radius: 3px;
    margin: 0 7px 10px 0;
    cursor: pointer;
}
.found-hashtags li:hover {
    background: #add9ff;
}
